<a href="https://colab.research.google.com/github/btoneil2021/100-projects/blob/main/BasicCSVDataAnalyzer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import csv
import pandas as pd

In [10]:
filename = 'sales_data.csv'

csv_data = """ProductID,ProductName,Category,Price,QuantitySold
101,Laptop,Electronics,1200,15
102,Mouse,Electronics,25,150
103,Keyboard,Electronics,75,100
104,Desk Lamp,Home Goods,45,60
105,Notebook,Stationery,5,250
106,Pen Set,Stationery,10,300
107,Coffee Maker,Appliances,80,40
108,Toaster,Appliances,35,70
109,Gaming Mouse,Electronics,60,90
110,Mechanical Keyboard,Electronics,150,50"""

# Open file
with open(filename, 'w', encoding='utf-8') as f:
    f.write(csv_data)

In [11]:
# Use pandas to get the DataFrame
df = pd.read_csv('sales_data.csv')

In [12]:
# Use .head() to display the first 5 rows
print("Initial Data Display (First 5 Rows):")
print(df.head())

Initial Data Display (First 5 Rows):
   ProductID ProductName     Category  Price  QuantitySold
0        101      Laptop  Electronics   1200            15
1        102       Mouse  Electronics     25           150
2        103    Keyboard  Electronics     75           100
3        104   Desk Lamp   Home Goods     45            60
4        105    Notebook   Stationery      5           250

In [13]:
# Use a boolean series to display anything where price is greater than 100
high_value_products = df[df['Price'] > 100]

print("\nProducts with Price > $100:")
print(high_value_products)

Products with Price > $100:
   ProductID          ProductName     Category  Price  QuantitySold
0        101               Laptop  Electronics   1200            15
9        110  Mechanical Keyboard  Electronics    150            50

In [14]:
# .sort_values() to sort price by ascending
sorted_by_price = df.sort_values(by='Price')

print("\nData Sorted by Price (Ascending):")
print(sorted_by_price)

Data Sorted by Price (Ascending):
   ProductID          ProductName     Category  Price  QuantitySold
4        105             Notebook   Stationery      5           250
5        106              Pen Set   Stationery     10           300
1        102                Mouse  Electronics     25           150
7        108              Toaster   Appliances     35            70
3        104            Desk Lamp   Home Goods     45            60
8        109         Gaming Mouse  Electronics     60            90
2        103             Keyboard  Electronics     75           100
6        107         Coffee Maker   Appliances     80            40
9        110  Mechanical Keyboard  Electronics    150            50
0        101               Laptop  Electronics   1200            15

In [16]:
# parameter for sort_values to sort by descending instead
sorted_by_units_sold_desc = df.sort_values(by='QuantitySold', ascending=False)

print("\nData Sorted by Units Sold (Descending):")
print(sorted_by_units_sold_desc)

Data Sorted by Units Sold (Descending):
   ProductID          ProductName     Category  Price  QuantitySold
5        106              Pen Set   Stationery     10           300
4        105             Notebook   Stationery      5           250
1        102                Mouse  Electronics     25           150
2        103             Keyboard  Electronics     75           100
8        109         Gaming Mouse  Electronics     60            90
7        108              Toaster   Appliances     35            70
3        104            Desk Lamp   Home Goods     45            60
9        110  Mechanical Keyboard  Electronics    150            50
6        107         Coffee Maker   Appliances     80            40
0        101               Laptop  Electronics   1200            15

In [18]:
# Getting the mean price and quantity
mean_price = df['Price'].mean()
mean_units_sold = df['QuantitySold'].mean()

print("\nSummary Statistics:")
print(f"Mean Price: ${mean_price:.2f}")
print(f"Mean Units Sold: {mean_units_sold:.2f}")

Summary Statistics:
Mean Price: $168.50
Mean Units Sold: 112.50

In [22]:
# Getting the mode category
mode_category = df['Category'].mode()[0]

print(f"Mode of Category: {mode_category}")

Mode of Category: Electronics

In [23]:
# Getting basic stats summary for the numerical columns
print("\nComprehensive Summary Statistics for Numerical Columns:")
print(df.describe())

Comprehensive Summary Statistics for Numerical Columns:
       ProductID        Price  QuantitySold
count   10.00000    10.000000     10.000000
mean   105.50000   168.500000    112.500000
std      3.02765   364.874788     93.904502
min    101.00000     5.000000     15.000000
25%    103.25000    27.500000     52.500000
50%    105.50000    52.500000     80.000000
75%    107.75000    78.750000    137.500000
max    110.00000  1200.000000    300.000000