<a href="https://colab.research.google.com/github/btoneil2021/100-projects/blob/main/DatasetMaxMinFinder.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
number_series = """105
78
23
99
45
12
67
88
34"""

In [13]:
with open("number_series.txt", "w") as f:
  f.write(number_series)

In [14]:
data = []
try:
  with open("number_series.txt", "r") as f:
    for line in f:
      data.append(int(line.strip()))
except FileNotFoundError:
  print("File not found.")
except ValueError:
  print("Invalid data format in the file.")

In [15]:
# Check if the list is empty
if not data:
    print("The dataset is empty.")
else:
    # Initialize max_value and min_value with the first element of the list
    max_value = data[0]
    min_value = data[0]

    # Iterate through the rest of the list
    for number in data[1:]:
        # Compare the number with the current max_value
        if number > max_value:
            max_value = number

        # Compare the number with the current min_value
        if number < min_value:
            min_value = number

    # Print the results
    print(f"The maximum value in the dataset is: {max_value}")
    print(f"The minimum value in the dataset is: {min_value}")

The maximum value in the dataset is: 105
The minimum value in the dataset is: 12